<div class="panel-heading">
  <span class="pull-right clickable"><i class="glyphicon {{if collapsed 'glyphicon-chevron-down' 'glyphicon-chevron-up'}}" {{action "click"  title}}></i></span>
  <h4 class="no-margin">
      {{title}}
  </h4>
</div>
<div class="v-accordion-panel-item-body {{if collapsed 'v-accordion-panel-item-collapsed'}} {{if loading "v-loading"}}">
  {{yield}}
</div>
<div class="clearfix"></div>
