<span class="count_top"><i class="fa fa-user"></i>{{title}}</span>
<div class="count">{{totalCount}}</div>
<span class="count_bottom">
	{{!-- {{#if (not-eq countDifference "no-change")}} --}}
	{{#if footerContent}}
		<i class={{countColor}}>
			<i class="fa fa-sort-{{countSort}}"></i>
			{{countedFromCount}}% 
		</i>
		{{countedFromMsg}}
	{{else}}
		<i>No Change</i>
	{{/if}}
</span>