{{!-- OM --}}
<div class="container">
  <div class="navbar-header">
    {{!-- <a class="navbar-brand navbar-brand-custom" href="#">HARI OM</a> --}}
    <a class="navbar-brand navbar-brand-custom" href="#">Components</a>
  </div>
</div>

<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> Simple Panel. (v-panel) <br></p>
  </div>
  {{#v-panel title="Panel 1"}}
  An empty panel bar.
  
  {{/v-panel}}
</div>

{{!-- v-buttons Implementation Start --}}
<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> v-button<br></p>
  </div>
 {{!-- {{#v-button theme="success" }}Default Button{{/v-button}} --}}
 {{!-- {{#v-button theme="success" disabled=true}}Default Button{{/v-button}} --}}
  {{!-- <h3>Examples</h3> --}}

  {{#v-panel title="v-buttons Implementation"}}
  <hr>
  <h3>Buttons Examples</h3>
  <div class="row">
      <div class="col-lg-6">
          <h6>Template</h6>
          <pre>\{{#v-button theme="default"}}Default Button\{{/v-button}}</pre>
      </div>
      <div class="col-lg-6">
          <h6>Rendered Component</h6>
          <div>{{#v-button theme="default"}}Default Button{{/v-button}}</div>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-6">
          <h6>Template</h6>
          <pre>\{{#v-button theme="primary"}}Primary Button\{{/v-button}}</pre>
      </div>
      <div class="col-lg-6">
          <h6>Rendered Component</h6>
          <div>{{#v-button theme="primary"}}Primary Button{{/v-button}}</div>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-6">
          <h6>Template</h6>
          <pre>\{{#v-button theme="info"}}Info Button\{{/v-button}}</pre>
      </div>
      <div class="col-lg-6">
          <h6>Rendered Component</h6>
          <div>{{#v-button theme="info"}}Info Button{{/v-button}}</div>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-6">
          <h6>Template</h6>
          <pre>\{{#v-button theme="success"}}Success Button\{{/v-button}}</pre>
      </div>
      <div class="col-lg-6">
          <h6>Rendered Component</h6>
          <div>{{#v-button theme="success"}}Success Button{{/v-button}}</div>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-6">
          <h6>Template</h6>
          <pre>\{{#v-button theme="warning"}}Warning Button\{{/v-button}}</pre>
      </div>
      <div class="col-lg-6">
          <h6>Rendered Component</h6>
          <div>{{#v-button theme="warning"}}Warning Button{{/v-button}}</div>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-6">
          <h6>Template</h6>
          <pre>\{{#v-button theme="danger"}}Danger Button\{{/v-button}}</pre>
      </div>
      <div class="col-lg-6">
          <h6>Rendered Component</h6>
          <div>{{#v-button theme="danger"}}Danger Button{{/v-button}}</div>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-6">
          <h6>Template</h6>
          <pre>\{{#v-button disabled=true}}Disabled Button\{{/v-button}}</pre>
      </div>
      <div class="col-lg-6">
          <h6>Rendered Component</h6>
          <div>{{#v-button disabled=true}}Disabled Button{{/v-button}}</div>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-6">
          <h6>Template</h6>
          <pre>\{{#v-button theme="hover"}}Hover Button\{{/v-button}}</pre>
      </div>
      <div class="col-lg-6">
          <h6>Rendered Component</h6>
          <div>{{#v-button theme="hover"}}Hover Button{{/v-button}}</div>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-6">
          <h6>Template</h6>
          <pre>\{{#v-button theme="link"}}Link Button\{{/v-button}}</pre>
      </div>
      <div class="col-lg-6">
          <h6>Rendered Component</h6>
          <div>{{#v-button theme="link"}}Link Button{{/v-button}}</div>
      </div>
  </div>
  <hr>

  {{/v-panel}}
</div>
{{!-- v-buttons Implementation End --}}


{{!-- v-alert Implementation Start --}}
<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> v-alert<br></p>
  </div>
  {{#v-panel title="v-alert Implementation"}}
    <h3>Alert Examples</h3>
    <hr>
    <div class="row">
      <div class="col-lg-6">
          <h6>Template</h6>
          <pre>\{{#v-alert dismissable=true theme="info"}} Dismissable info alert \{{/v-alert}}</pre>
      </div>
      <div class="col-lg-6">
          <h6>Rendered Component</h6>
          {{#v-alert dismissable=true theme="info"}}
              Dismissable info alert
          {{/v-alert}}
      </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h6>Template</h6>
            <pre>\{{#v-alert theme="success"}}  Success alert  \{{/v-alert}}</pre>
        </div>
        <div class="col-lg-6">
            <h6>Rendered Component</h6>
            {{#v-alert theme="success"}}Success alert{{/v-alert}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h6>Template</h6>
            <pre>\{{#v-alert theme="warning"}}  Warning alert \{{/v-alert}}</pre>
        </div>
        <div class="col-lg-6">
            <h6>Rendered Component</h6>
            {{#v-alert theme="warning"}}Warning alert{{/v-alert}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h6>Template</h6>
            <pre>\{{#v-alert theme="danger"}}  Danger alert \{{/v-alert}}</pre>
        </div>
        <div class="col-lg-6">
            <h6>Rendered Component</h6>
            {{#v-alert theme="danger"}}Danger alert{{/v-alert}}
        </div>
    </div>
    <hr>
  {{/v-panel}}
</div>
{{!-- v-alert Implementation End --}}

{{!-- v-tooltip Implementation Start --}}
<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> v-tooltip<br></p>
  </div>
  {{#v-panel title="v-tooltip Implementation"}}
    <h3>Tooltip Examples</h3>
    <hr>

    <div class="row">
      <div class="col-lg-6">
          <h6>Template</h6>
          <pre>\{{#v-tooltip
              tagName="u"
              title="Tooltip text!"
          }}
              Tooltip example
          \{{/v-tooltip}}</pre>
      </div>
      <div class="col-lg-6">
          <h6>Rendered Component</h6>
          <p>{{#v-tooltip 
                tagName="u" 
                title="Tooltip text!"}}
                Tooltip example
              {{/v-tooltip}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#v-tooltip
            popover="Popover content!"
            tagName="u"
            title="Popover title"
        }}
            Popover example
        \{{/v-tooltip}}</pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{#v-tooltip
            popover="Popover content!"
            tagName="u"
            title="Popover title"}}
            Popover example
        {{/v-tooltip}}
      </div>
    </div>
    <hr>
  {{/v-panel}}
</div>
{{!-- v-tooltip Implementation End --}}

{{!-- v-textarea Implementation Start --}}
<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> v-textarea<br></p>
  </div>
  {{#v-panel title="v-texarea Implementation"}}
    <h3>Textarea Examples</h3>
    <hr>
    <div class="row">
      <div class="col-lg-6">
          <h6>Template</h6>
          <pre>\{{v-textarea
          label="First textarea"
          placeholder="Enter some text!"
          rows=6
          }}</pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-textarea
          label="First textarea"
          placeholder="Enter some text!"
          rows=6
        }}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{v-textarea
            disabled=true
            label="Second textarea"
            placeholder="You can't enter anything..."
            rows=4
        }}</pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-textarea
            disabled=true
            label="Second textarea"
            placeholder="You can't enter anything..."
            rows=4
        }}
      </div>
    </div>
    <hr>
  {{/v-panel}}
</div>
{{!-- v-textarea Implementation End --}}

{{!-- v-input Implementation Start --}}
<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> v-input<br></p>
  </div>
  {{#v-panel title="v-input Implementation"}}
    <h3>Input Examples</h3>
    <hr>
    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{v-input
          label="Input with label and helpText"
          helpText="Help text content goes here"
          placeholder="Enter some text"
        }}</pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-input
          label="Input with label and helpText"
          helpText="Help text content goes here"
          placeholder="Enter some text"
        }}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{v-input
          label="Input with typeahead suggestions"
          placeholder="Enter a Name"
          suggestions=names
        }}</pre>
        <h6>Controller</h6>
        <pre>names: [
          "Vishu",
          "Sharma",
          "Varun"
        ]
        </pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-input
          label="Input with typeahead suggestions"
          placeholder="Enter a Name"
          suggestions=names
        }}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{v-input
          label="Input with typeahead suggestions using suggestionNamePath"
          placeholder="Enter a color"
          suggestions=colors
          suggestionNamePath="id"
        }}</pre>
        <h6>Controller</h6>
        <pre>colors: [
          { id: 'Black' },
          { id: 'Blue' },
          { id: 'Gray' },
          { id: 'Green' },
          { id: 'Orange' },
          { id: 'Purple' },
          { id: 'Red' },
          { id: 'White' },
          { id: "Yellow" }
        ]</pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-input
          label="Input with typeahead suggestions using suggestionNamePath"
          placeholder="Enter a color"
          suggestions=colors
          suggestionNamePath="id"
          value=colorValue
        }}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{v-input
            label="Disabled input"
            disabled=true
            placeholder="You can't enter anything here"
        }}</pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-input
          label="Disabled input"
          disabled=true
          placeholder="You can't enter anything here"
        }}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{v-input
          label="Readonly input"
          readonly=true
          value="Look but don't touch!"
        }}</pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-input
          label="Readonly input"
          readonly=true
          value="Look but don't touch!"
        }}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{v-input
          label="Required input"
          required=true
          placeholder="You'd better enter something here"
        }}</pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-input
          label="Required input"
          required=true
          placeholder="You'd better enter something here"
        }}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{v-input
          label="Optional input"
          optional=true
          placeholder="Meh, whatev"
        }}</pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-input
          label="Optional input"
          optional=true
          placeholder="Meh, whatev"
        }}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{v-input
          clickToEdit=true
          label="Click-to-edit input"
          placeholder="Enter value"
          value="Initial value"
        }}</pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-input
          clickToEdit=true
          label="Click-to-edit input"
          placeholder="Enter value"
          value="Initial value"
        }}
      </div>
    </div>
    <hr>
  {{/v-panel}}
</div>
{{!-- v-input Implementation End --}}


{{!-- v-container Implementation Start --}}
<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> v-container<br></p>
  </div>
  {{#v-panel title="v-container Implementation"}}
    <h3>Container Examples</h3>
    <hr>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#v-container heading="Test Container" theme="primary"}}
            &lt;p&gt;Hello world!&lt;/p&gt;
        \{{/v-container}}</pre>
      </div>

      <div class="col-lg-6">
        <h6>Rendered Template</h6>
        {{#v-container heading="Test Container" theme="primary"}}
            <p>Hello world!</p>
        {{/v-container}}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#v-container footer="Test Container Footer"}}
        &lt;p&gt;Hello world!&lt;/p&gt;
        \{{/v-container}}</pre>
      </div>

      <div class="col-lg-6">
        <h6>Rendered Template</h6>
        {{#v-container footer="Test Container Footer"}}
            <p>Hello world!</p>
        {{/v-container}}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#v-container heading="Test Container With Loading" loading=true}}
        &lt;p&gt;Hello world!&lt;/p&gt;
        \{{/v-container}}</pre>
      </div>

      <div class="col-lg-6">
        <h6>Rendered Template</h6>
        {{#v-container heading="Test Container With Loading" loading=true}}
            <p>Hello world!</p>
        {{/v-container}}
      </div>
    </div>

    <hr>
  {{/v-panel}}
</div>
{{!-- v-container Implementation End --}}


{{!-- v-radio Implementation Start --}}
<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> v-radio<br></p>
  </div>
  {{#v-panel title="v-radio Implementation"}}
    <h3>Radio Button Examples</h3>
    <hr>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{v-radio inline=true label="Test radio button"}}</pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-radio inline=true label="Test radio button"}}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{v-radio disabled=true label="Disabled radio button"}}</pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-radio disabled=true label="Disabled radio button"}}
      </div>
    </div>

    <hr>
  {{/v-panel}}
</div>
{{!-- v-radio Implementation End --}}


{{!-- v-radio-group Implementation Start --}}
<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> v-radio-group<br></p>
  </div>
  {{#v-panel title="v-radio-group Implementation"}}
    <h3>Radio Group Examples</h3>
    <hr>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#v-radio-group
          label="Color selection"
          name="colorRadio"
          value=currentColor
        }}
          \{{v-radio label="Red" value="red"}}
          \{{v-radio label="Green" value="green"}}
          \{{v-radio label="Blue" value="blue"}}
          \{{v-radio label="Splorge" disabled=true}}
          \{{/v-radio-group}}
        </pre>
      </div>

      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{#v-radio-group
          label="Color selection"
          name="colorRadio"
          value=currentColor
        }}
          {{v-radio label="Red" value="red"}}
          {{v-radio label="Green" value="green"}}
          {{v-radio label="Blue" value="blue"}}
          {{v-radio label="Splorge" disabled=true}}
        {{/v-radio-group}}

        <h4>Current color: {{currentColor}}</h4>
      </div>
    </div>

    <hr>
  {{/v-panel}}
</div>
{{!-- Empty Panel Implementation End --}}



{{!-- v-span Implementation Start --}}
<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> v-span<br></p>
  </div>
  {{#v-panel title="v-span Implementation"}}
    <h3>Span Examples</h3>
    <hr>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>&lt;p&gt;
        Loads in 5 seconds:&amp;emsp;\{{v-span
        class="text-success"
        loading=isLoading
        value="Done!"
        }}
        &lt;/p&gt;</pre>
        <p>Note: This component does not provide a time-delay mechanism.  The 5 second time delay represented in the example is implemented in the demonstration controller and is employed to emulate the waiting for a promise to be resolved in order to demonstrate the loading state of
        this component and the final display of the resolved data value.</p>
      </div>

      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        <p>Loads in 5 seconds:&emsp;{{v-span class="text-success" loading=isLoading value="Done!"}}</p>
      </div>
    </div>

    <hr>
  {{/v-panel}}
</div>
{{!-- v-span Implementation End --}}


{{!-- v-tab-panel Implementation Start --}}
<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> v-tab-panel<br></p>
  </div>
  {{#v-panel title="v-tab-panel Implementation"}}
    <h3>Tab Panel Examples</h3>
    <hr>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>
        \{{#v-tab-panel}}
          \{{#v-tab-pane label="Vishu" name="one"}}
              &lt;p&gt;VISHU&lt;/p&gt;
          \{{/v-tab-pane}}

          \{{#v-tab-pane label="Sharma" name="two"}}
              &lt;p&gt;SHARMA&lt;/p&gt;
              {{!-- \{{demos/tabs/tab-two}} --}}
          \{{/v-tab-pane}}

          \{{#v-tab-pane label="Git" name="three"}}
              &lt;p&gt;GIT&lt;/p&gt;
          \{{/v-tab-pane}}
        \{{/v-tab-panel}}
        </pre>
      </div>

        <div class="col-lg-6">
            <h6>Rendered Component</h6>
            {{#v-tab-panel}}
                {{#v-tab-pane label="Vishu" name="one"}}
                  <p>VISHU</p>
                {{/v-tab-pane}}

                {{#v-tab-pane label="Sharma" name="two"}}
                    {{!-- {{demos/tabs/tab-two}} --}}
                  <p>SHARMA</p>
                {{/v-tab-pane}}

                {{#v-tab-pane label="Git" name="three"}}
                    <p>GIT</p>
                {{/v-tab-pane}}
            {{/v-tab-panel}}
        </div>
    </div>

    <hr>
  {{/v-panel}}
</div>
{{!-- v-tab-panel Implementation End --}}


{{!-- v-select Implementation Start --}}
<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> v-select<br></p>
  </div>
  {{#v-panel title="v-select Implementation"}}
    <h3>Select Examples</h3>
    <hr>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{v-select
          content=selectColors
          label="Single item select"
          placeholder="Select a color"
        }}
        </pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-select
          content=selectColors
          label="Single item select"
          placeholder="Select a color"
        }}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{v-select
          content=numbers
          disableSearch=true
          label="Multiple number select, no search"
          multiple=true
          placeholder="Select number(s)"
        }}</pre>
      </div>

      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-select
            content=numbers
            disableSearch=true
            label="Multiple number select, no search"
            multiple=true
            placeholder="Select number(s)"
        }}
      </div>
    </div>

    <hr>
  {{/v-panel}}
</div>
{{!-- v-select Implementation End --}}
{{!-- //VISHU --}}



{{!-- v-progress-bar Implementation Start --}}
<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> v-progress-bar<br></p>
  </div>
  {{#v-panel title="v-progress-bar Implementation"}}
    <h3>Progress Bar Examples</h3>
    <hr>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{v-progress-bar label=true value=60}}</pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-progress-bar label=true value=60}}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{v-progress-bar label=true theme="success" value=40}}</pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-progress-bar label=true theme="success" value=40}}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{v-progress-bar striped=true theme="warning" value=70}}</pre>
      </div>

      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-progress-bar striped=true theme="warning" value=70}}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{v-progress-bar  animated=true  label=true  striped=true theme="danger"
          value=90
        }}</pre>
      </div>

      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-progress-bar
          animated=true
          label=true
          striped=true
          theme="danger"
          value=90
        }}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{v-input type="Number" value=dynamicValue}}
        \{{v-progress-bar label=true value=dynamicValue}}</pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        Dynamic value input: {{v-input type="Number" value=dynamicValue}}
        {{v-progress-bar label=true value=dynamicValue}}
      </div>
    </div>

    <hr>
  {{/v-panel}}
</div>
{{!-- v-progress-bar Implementation End --}}




{{!-- v-modal-win Implementation Start --}}
<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> v-modal-win<br></p>
  </div>
  {{#v-panel title="v-modal-win Implementation"}}
    <h3>Modal Window Examples</h3>
    <hr>

    <section id="simple">
      <div class="row">
        <div class="col-lg-8">
          <h6>Simple usage</h6>
          <pre>\{{#v-modal-win streamName="demoModal" size="small" as |modal|}}
            \{{v-modal-win-header title="Simple Example" ariaLabelledBy=modal.ariaLabelledBy}}
            \{{#v-modal-win-body}}
               &lt;p&gt;A simple modal example&lt;/p&gt;
            \{{/v-modal-win-body}}
            \{{v-modal-win-footer}}
            \{{/v-modal-win}}
          </pre>

          {{#v-modal-win streamName="demoModal" size="small" as |modal|}}
            {{v-modal-win-header
                title="Simple Example"
                ariaLabelledBy=modal.ariaLabelledBy
            }}
            {{#v-modal-win-body}}
                <p>A simple modal window example</p>
            {{/v-modal-win-body}}

            {{v-modal-win-footer}}
          {{/v-modal-win}}
        </div>
        <div class="col-lg-4">
            <h6>Click to Show Component</h6>
            {{v-button
                label="Open Modal"
                showModalWithStreamName="demoModal"
            }}
        </div>
      </div>
    </section>

    <section>
      <div class="row">
        <div class="col-lg-8">
          <h6>Custom header</h6>
          <pre>
            \{{#v-modal-win streamName="customHeader" size="large" as |modal|}}
              \{{#v-modal-win-header}}
              &lt;button class=&quot;close&quot; data-dismiss=&quot;modal&quot; type=&quot;button&quot;&gt;
                  &lt;span aria-hidden=&quot;true&quot; class=&quot;fa fa-close&quot;&gt;&lt;/span&gt;
                  &lt;span class=&quot;sr-only&quot;&gt;Close&lt;/span&gt;
              &lt;/button&gt;
              &lt;span class=&quot;modal-title&quot; id=\{{modal.ariaLabelledBy}}&gt;Custom Header&lt;/span&gt;
              \{{/v-modal-win-header}}

              \{{#v-modal-win-body}}
               &lt;p&gt;A custom header and close button&lt;/p&gt;
              \{{/v-modal-win-body}}

              \{{v-modal-win-footer}}
            \{{/v-modal-win}}
          </pre>

          {{#v-modal-win streamName="customHeader" size="large" as |modal|}}
              {{#v-modal-win-header}}
                  <button class="close" data-dismiss="modal" type="button">
                      <span aria-hidden="true" class="fa fa-close"></span>
                      <span class="sr-only">close</span>
                  </button>
                  <span class="modal-title" id={{modal.ariaLabelledBy}}>custom header</span>
              {{/v-modal-win-header}}

              {{#v-modal-win-body}}
                  <p>modal with a custom header close button</p>
              {{/v-modal-win-body}}

              {{v-modal-win-footer}}
          {{/v-modal-win}}
        </div>
        <div class="col-lg-4">
          <h6>Click to Show Component</h6>
          {{v-button
              label="Open Modal"
              showModalWithStreamName="customHeader"
          }}
        </div>
      </div>
    </section>  

    <section>
      <div class="row">
        <div class="col-lg-8">
          <h6>Custom footer with multiple buttons</h6>
          <pre>
          \{{#v-modal-win streamName="customFooter"}}
            \{{v-modal-win-header title="Custom Footer"}}

            \{{#v-modal-win-body}}
                 &lt;p&gt;Custom footer with multiple buttons&lt;/p&gt;
            \{{/v-modal-win-body}}

            \{{#v-modal-win-footer}}
               &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; data-dismiss=&quot;modal&quot;&gt;Close&lt;/button&gt;
               &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Save changes&lt;/button&gt;
            \{{/v-modal-win-footer}}
          \{{/v-modal-win}}
          </pre>

          {{#v-modal-win streamName="customFooter"}}
            {{v-modal-win-header title="Custom Footer"}}

            {{#v-modal-win-body}}
                <p>Modal with multiple buttons in the footer</p>
            {{/v-modal-win-body}}

            {{#v-modal-win-footer}}
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            {{/v-modal-win-footer}}
          {{/v-modal-win}}
        </div>
        <div class="col-lg-4">
          <h6>Click to Show Component</h6>
          {{v-button
            label="Open Modal"
            showModalWithStreamName="customFooter"
          }}
        </div>
      </div>
    </section>

    <hr>
  {{/v-panel}}
</div>
{{!-- v-modal-win Implementation End --}}


{{!-- v-accordion-pane Implementation Start --}}
<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> v-accordion-panel<br></p>
  </div>
  {{#v-panel title="v-accordion-panel Implementation"}}
    <h3>Accordion Panel Examples</h3>
    <hr>

    {{!-- {{#v-accordion-panel-item title="OM" theme="primary"}}
      HARI OM
    {{/v-accordion-panel-item}}

    {{#v-accordion-panel-item title="OM 1" theme="primary" loading=true}}
      HARI OM 1
    {{/v-accordion-panel-item}} --}}

     <div class="row">
      <div class="col-lg-6">
        <h6>Template : Basic.</h6>
        <pre>\{{v-accordion-panel data=basicAccordionPanels selected=basicSelectedPanel}}
        </pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-accordion-panel data=basicAccordionPanels selected=basicSelectedPanel}}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template : Commom Theme.</h6>
        <pre>\{{v-accordion-panel data=accordionPanels selected=selectedPanel  theme="primary"}}
        </pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-accordion-panel data=accordionPanels selected=selectedPanel theme="primary"}}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h6>Template : Individual Panel Theme.</h6>
        <pre>\{{v-accordion-panel data=accordionPanels2 selected=selectedPanel2}}
        </pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{v-accordion-panel data=accordionPanels2 selected=selectedPanel2}}
      </div>
    </div>


    <div class="row">
      <div class="col-lg-6">
        <h6>Template : Without 'data' config.</h6>
        <pre>
        \{{#v-accordion-panel}}

          \{{#v-accordion-panel-item 
            title="panel 3.1" 
            selected=selected 
            action="accordionPanelClickTest"
          }}
            &lt;p&gt; Panel 3.1 Content&lt;/p&gt;
          \{{/v-accordion-panel-item}}

          \{{#v-accordion-panel-item 
            title="panel 3.2"
            selected=selected 
            action="accordionPanelClickTest"
          }}
            &lt;p&gt; Panel 3.2 Content&lt;/p&gt;
          \{{/v-accordion-panel-item}}

          \{{#v-accordion-panel-item 
            title="panel 3.3"
            selected=selected 
            action="accordionPanelClickTest"
          }}
            &lt;p&gt; Panel 3.3 Content&lt;/p&gt;
          \{{/v-accordion-panel-item}}

        \{{/v-accordion-panel}}
        </pre>
      </div>
      <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{#v-accordion-panel}}

          {{#v-accordion-panel-item 
            title="panel 3.1" 
            selected=selected 
            action="accordionPanelClickTest"
          }}
            <p> Panel 3.1 Content</p>
          {{/v-accordion-panel-item}}

          {{#v-accordion-panel-item 
            title="panel 3.2"
            selected=selected 
            action="accordionPanelClickTest"
          }}
            <p> Panel 3.2 Content</p>
          {{/v-accordion-panel-item}}

          {{#v-accordion-panel-item 
            title="panel 3.3"
            selected=selected 
            action="accordionPanelClickTest"
          }}
            <p> Panel 3.3 Content</p>
          {{/v-accordion-panel-item}}

        {{/v-accordion-panel}}
      </div>
    </div>


    <hr>
  {{/v-panel}}
</div>
{{!-- v-accordion-pane Implementation End --}}


{{!-- EmptyPanel Implementation Start --}}
<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> v-empty<br></p>
  </div>
  {{#v-panel title="v-empty Implementation"}}
    <h3>Empty Examples</h3>
    <hr>



    <hr>
  {{/v-panel}}
</div>
{{!-- EmptyPanel Implementation End --}}


























<div class="col-md-3">
  <div style="background-color:lavender;">
    <p> Dashboard Messages content <br></p>
  </div>
  {{v-topbar-msg-content
    userName="Sharma"
    messageTime="3 mins ago"
    messageContent="messageContent nenenen"
    profileImageUrl="http://vignette2.wikia.nocookie.net/althistory/images/a/a6/Venstre_(Denmark)_Logo.png/revision/latest?cb=20081224190313"}}
</div>

<div class="col-md-3">
  <div style="background-color:lavender;">
    <p> Dashboard Messages <br></p>
  </div>
  {{v-topbar-msg}}
</div>


<div class="col-md-3">
  <div style="background-color:lavender;">
    <p> Dashboard Ragbox Content Incresed<br></p>
  </div>
  {{v-ragbox-content
    title="Users"
    totalCount="1786"
    countDifference="incresed"
    countedFromMsg="From Last Month"
    countedFromCount="11"
  }}
</div>

<div class="col-md-3">
  <div style="background-color:lavender;">
    <p> Dashboard Ragbox Content Decreased<br></p>
  </div>
  {{v-ragbox-content
    title="Users"
    totalCount="1786"
    countDifference="decreased"
    countedFromMsg="From Last Week"
    countedFromCount="11"
  }}
</div>

<div class="col-md-3">
  <div style="background-color:lavender;">
    <p> Dashboard Ragbox Content No Chnage<br></p>
  </div>
  {{v-ragbox-content
    title="Users"
    totalCount="1786"
    countDifference="no-change"
    countedFromMsg=""
    countedFromCount=""
  }}
</div>



<div class="col-md-3">
  <div style="background-color:lavender;">
    <p> Dashboard Ragbox<br></p>
  </div>
  {{v-ragbox}}
</div>

<div class="col-md-3">
  <div style="background-color:lavender;">
    <p> v-button<br></p>
  </div>
 {{#v-button theme="success" disabled=true}}Default Button{{/v-button}}
</div>


<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> Dashboard GRID BASIC<br></p>
  </div>
  {{v-grid gridOptions=dummyGridOptions }}
</div>


<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> Dashboard GRID<br></p>
  </div>
  {{input class="input-theme" placeholder="Filter..." key-up="filterChanged"}}

  <p>Theme: <select class="ember-select" onchange={{action "selectTheme" value="target.value"}}>
    <option value="ag-bootstrap">Bootstrap</option>
    <option value="ag-fresh">Fresh</option>
    <option value="ag-blue">Blue</option>
    <option value="ag-dark">Dark</option>
    <option value="ag-material">Material</option>
    <option value="v-grid-theme" selected="selected">My - v-grid-theme </option>
  </select></p>
  {{v-grid gridOptions=dummyGridOptions theme=dummyTheme }}
</div>

