{{!-- OM --}}
<div class="container">
  <div class="navbar-header">
    {{!-- <a class="navbar-brand navbar-brand-custom" href="#">HARI OM</a> --}}
    <a class="navbar-brand navbar-brand-custom" href="#">Components</a>
  </div>
</div>

<div class="col-md-3">
  <div style="background-color:lavender;">
    <p> Simple Panel. (v-panel) <br></p>
  </div>
  {{#v-panel title="Panel 1"}}
  An empty panel bar.
  {{/v-panel}}
</div>


<div class="col-md-3">
  <div style="background-color:lavender;">
    <p> Dashboard Messages content <br></p>
  </div>
  {{v-topbar-msg-content
    userName="Sharma"
    messageTime="3 mins ago"
    messageContent="messageContent nenenen"
    profileImageUrl="http://vignette2.wikia.nocookie.net/althistory/images/a/a6/Venstre_(Denmark)_Logo.png/revision/latest?cb=20081224190313"}}
</div>

<div class="col-md-3">
  <div style="background-color:lavender;">
    <p> Dashboard Messages <br></p>
  </div>
  {{v-topbar-msg}}
</div>


<div class="col-md-3">
  <div style="background-color:lavender;">
    <p> Dashboard Ragbox Content Incresed<br></p>
  </div>
  {{v-ragbox-content
    title="Users"
    totalCount="1786"
    countDifference="incresed"
    countedFromMsg="From Last Month"
    countedFromCount="11"
  }}
</div>

<div class="col-md-3">
  <div style="background-color:lavender;">
    <p> Dashboard Ragbox Content Decreased<br></p>
  </div>
  {{v-ragbox-content
    title="Users"
    totalCount="1786"
    countDifference="decreased"
    countedFromMsg="From Last Week"
    countedFromCount="11"
  }}
</div>

<div class="col-md-3">
  <div style="background-color:lavender;">
    <p> Dashboard Ragbox Content No Chnage<br></p>
  </div>
  {{v-ragbox-content
    title="Users"
    totalCount="1786"
    countDifference="no-change"
    countedFromMsg=""
    countedFromCount=""
  }}
</div>



<div class="col-md-3">
  <div style="background-color:lavender;">
    <p> Dashboard Ragbox<br></p>
  </div>
  {{v-ragbox}}
</div>


<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> Dashboard GRID BASIC<br></p>
  </div>
  {{v-grid gridOptions=dummyGridOptions }}
</div>


<div class="col-md-12">
  <div style="background-color:lavender;">
    <p> Dashboard GRID<br></p>
  </div>
  {{input class="input-theme" placeholder="Filter..." key-up="filterChanged"}}

  <p>Theme: <select class="ember-select" onchange={{action "selectTheme" value="target.value"}}>
    <option value="ag-bootstrap">Bootstrap</option>
    <option value="ag-fresh">Fresh</option>
    <option value="ag-blue">Blue</option>
    <option value="ag-dark">Dark</option>
    <option value="ag-material">Material</option>
    <option value="v-grid-theme" selected="selected">My - v-grid-theme </option>
  </select></p>
  {{v-grid gridOptions=dummyGridOptions theme=dummyTheme }}
</div>

